@using DomainModels;
@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="col-lg-6 m-auto">
        @if (ViewBag.Msg != null)
        {
            <div class="d-inline-flex p-2">@ViewBag.Msg</div>
        }

        <form action="@Url.Action("Create","Blog")" method="post">
            @Html.AntiForgeryToken()

            <br><br><div class="card">

                <div class="card-header bg-dark">
                    <h1 class="text-white text-center">Add items to Blog</h1>
                </div><br>

                <label> Blog Title: </label>
                <input type="text" name="Blog_Headline" class="form-control" required="required"> <br>

                <label> Category: </label>
                <select class="browser-default custom-select" required="required" name="Category_Id">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id"> @item.Category_Name </option>
                    }
                </select><br>

                <label> Description </label>
                <textarea class="form-control" rows="10" name="Blog_Description" required="required"></textarea> <br>

                <button class="btn btn-success" type="submit" name="done"> Submit </button><br>

            </div>
        </form>
    </div>
</body>
</html>
